<h1>Local Events</h1>
<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to "<", calendar_path(date: @date.prev_month) %>
      <%= @date.strftime("%B %Y") %>
      <%= link_to ">", calendar_path(date: @date.next_month) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= date.day %>
      <%# Event.for_date(date).each do |event| %>
        <%# link_to 'Event #1', event_path(event) %>
      <%# end %>
    <% end %>
  </div>
</div>
