<h1>Recipes for Healthy Living</h1>

<h3>
<%= link_to "Bean Bourguignon, courtesy of Runner's World", 'http://www.runnersworld.com/recipes/recipe-bean-bourguignon' %>
  <br>
  <%= link_to 'Curried Lentils and Sweet Potatoes, courtesy of Smitten Kitchen', 'http://smittenkitchen.com/blog/2007/11/curried-lentils-and-sweet-potatoes/' %>
  <br>
  <%= link_to 'Dairy-Free Pumpkin Bread Pudding, courtesy of Popsugar.com', 'http://www.popsugar.com/fitness/Dairy-Free-Pumpkin-Bread-Pudding-Recipe-25709569' %>
  <br>
  <%= link_to 'Mango-Agave Granola with Greek Yogurt, courtesy of Food Network', 'http://www.foodnetwork.com/recipes/bobby-flay/mango-agave-granola-with-greek-yogurt-recipe.html' %>
  <br>
  <%= link_to 'Yellow Split Pea Soup With Sweet Potatoes and Kale, courtesy of FatFreeVeganKitchen.com', 'http://blog.fatfreevegan.com/2006/10/yellow-split-pea-soup-with-sweet.html' %>
  <br>
  <%= link_to 'Flourless Chocolate-Walnut Cookies, courtesy of Self.com', 'http://www.self.com/body/recipes/2012/12/flourless-chocolate-walnut-cookies/' %>
  <br>
</h3>
