<h1>Clients</h1>
<%= will_paginate @clients %>
<div class="table-responsive">
  <div class="well">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th colspan="3"></th>
      </tr>
      </thead>


      <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.first_name %></td>
          <td><%= client.last_name %></td>
          <td><%= client.gender %></td>
          <td><%= client.age %></td>
          <!--<td><%= link_to 'Show', client %></td>-->
          <td><%= link_to 'Edit', edit_client_path(client) %></td>
          <!--<td><%= link_to 'Destroy', client, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<%= link_to 'Local Events', calendar_path, :class => 'btn btn-default' %>

